nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
    color: #646368;
    margin-right: 2.5rem;
    font-weight: 500;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}
header i {
    font-size: 1.5rem;
}